<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="marketName" value="Bazar Store"/>
    <add key="titlePrototype" value="************ REPLACED ************"/>
  </appSettings>

  <connectionStrings>
    <add name="MarketDbSqlConnection"
          connectionString="Data Source=ANAR-ASUS;Initial Catalog=Market;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
  </connectionStrings>
</configuration>